body{
    display: flex;
    background-image: linear-gradient(rgb(0, 202, 0),rgb(124, 32, 32));
    font-family: 'Indie Flower', cursive;
}


.square{
    width: 200px;
    height: 200px;
    border: 3px black solid;
}

.grid{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole{
    background-image: url(mole-cartoon.jpg);
    background-size: cover;
}

.text{
    width: 400px;
}